[flake8]
docstring_style = sphinx
min_python_version = 3.12
max-line-length = 120
dictionaries = en_US,python,technical,django
per-file-ignores =
    __init__.py:F401
    manage.py:DAR401
    asgi.py:E402